<link rel="shortcut icon" href="{{ "favicon.ico?v=001" | absURL }}" />
    <link rel="icon" type="image/png" href="{{ "img/favicon-32.png" | absURL }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ "img/favicon-16.png" | absURL }}" sizes="16x16" />
    <meta name="application-name" content="{{ .Site.Params.course.number }}: {{ .Site.Title }}"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ "images/mstile-144x144.png" | absURL }}" />
